---
title: Professional Activities
---

<% # Get data from professional_activities.yml %>
<% source = data.professional_activities_data %>
<div class="container center" markdown=1>
<%= source.title %>
<%= source.introduction %>
<%= source.buttons %>
</div>