---
title: Research
---

<% # Getting data from research_data.yml %>
<% source = data.research_data %>
<div class="container center" markdown=1>
<%= source.title %>
<%= source.introduction %>
<%= source.buttons %>
</div>